{% extends "base.html" %}

{% block title %}
Главная
{% endblock %}

{% block main_page_module %}
<h1 class="bd-title" id="content">Effective Mobile (Тестовое задание)</h1>
<br>
<h2>Добро пожаловать!</h2>
<p>Привет! Рад видеть вас здесь. Меня зовут Волосников Владимир, и эту страницу я создал, чтобы немного рассказать о себе и своих навыках.</p>
<p>Я увлечён разработкой на Python и работой с Django, Flask и FastAPI. Моя цель — создавать удобные, функциональные и масштабируемые решения, которые действительно работают.</p>
<p>Работать в Effective Mobile для меня — это не просто возможность, а шанс присоединиться к команде профессионалов, которая делает классные продукты. Я уверен, что смогу внести свой вклад в ваши проекты, применяя свои навыки и продолжая расти вместе с вашей командой.</p>
<p>На странице вы найдёте мои контакты и портфолио. Если у вас есть вопросы или предложения — буду рад пообщаться!</p>
<h3>Портфолио</h3>
<p><a href="https://github.com/limOnDev13"><b>github</b>: https://github.com/limOnDev13</a></p>
<h3>Контакты</h3>
<ul>
    <li>
        <b>email</b>: volosnikovvladimir69@gmail.com
    </li>
    <li>
        <b>telegram</b>: @limOnFresh1303
    </li>
    <li>
        <a href="https://www.linkedin.com/in/volosnikovvladimir/"><b>LinkedIn</b>: https://www.linkedin.com/in/volosnikovvladimir/</a>
    </li>
</ul>
{% endblock %}